* {
    box-sizing: border-box;
  }
  
body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;

}
.header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: stretch;
    padding: 30px;
    text-align: center;
    background: white;
    margin: 15px;
  }
.header h1 {
    font-size: 50px;
  }
.user {
    position: relative;
    display: block;
    font-size: 25px;
}
.columns {
    display: flex;
    align-items: flex-start;
    align-content: stretch;
    height: 80%;
    margin: 5px;
}
.leftColumn {
    display: block;
    float: left;
    width: 75%;
    height: 75%;
    border: 0.5px solid black;
    background-color: white;
    margin:5px;
}
.topbox {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: stretch;
    margin: 1px;
    height: 50%;
}
.box {
    float: left;
    width: 33.33%;
    height: 100%;
    padding: 2px;
    height: 25%;
    background-color: #999;
    border: 0.5px solid black;
    margin: 1px;
}
.downbox {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: stretch;
    margin: 1px;
    height: 50%;
}
.bottombox {
    float: left;
    width: 50%;
    padding: 10px;
    height: 50%;
    background-color: #666;
    border: 0.5px solid black;
    margin: 1px;
}
.rightColumn {
    display: block;
    float: left;
    width: 25%;
    height: 45%;
    background-color: white;
    padding: 10px;
    border: 0.5px solid black;
    margin: 10px;
}
.activeuser {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: baseline;
    border: 0.5px solid black;
    margin: 1px;
    padding: 3px;
}
.timer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: baseline;
    border: 0.5px solid black;
    margin: 1px;
    padding: 3px;
}
.currentscore {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: baseline;
    border: 0.5px solid black;
    margin: 1px;
    padding: 3px;
}
.allComments{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    align-content: stretch;
    padding: 30px;
    text-align: left;
    background: white;
    margin:5px;
    width: 75%;

}
.comments {
    float: left;
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 30px;
    border: 0.5px solid black;
}
.comments h1{
    font-size: 20px;
}
.text {
    float: left;
    width: 25%;
    background: #ddd;
    margin-top: 30px;
}
.commentSection {
    display: block;
    padding: 5px;
    margin: 2px;
    font-size: 18px;
}

button {
    position: relative;
    padding: 5px 10px;
    font-size: 15px;
    cursor:pointer;
    text-align: center;
    text-decoration: none;
    outline:none;
    color:#fff;
    background-color: rgb(76, 111, 175);
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px #999;
    margin: 1px;
}
button:hover {background-color: #4025db}

button:active {
    background-color: #7256f0;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }


div.players {
    display: inline;   
    border: 1px solid black;
    padding: 4px;
}
div.annoucePlayer{
    margin:5px 4px 4px 5px;
}

