* {
    box-sizing: border-box;
  }
  
body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;

}
.header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: stretch;
    padding: 15px;
    text-align: center;
    background: white;
    margin: 15px;
  }
.header h1 {
    font-size: 50px;
  }
.user {
    position: relative;
    display: block;
    font-size: 25px;
}
.columns {
    display: flex;
    align-items: flex-start;
    align-content: stretch;
    height: 90%;
    margin: 2px;
}
.leftColumn {
    /* display: flex; */
    float: left;
    justify-content: space-evenly;
    width: 75%;
    height: 95%;
    border: 0.5px solid black;
    background-color: white;
    margin:10px;
    padding:10px;
}
.row {
    display: flex;
}
.rightColumn {
    display: block;
    float: left;
    width: 25%;
    height: 45%;
    background-color: white;
    padding: 10px;
    border: 0.5px solid black;
    margin: 10px;
}
.activeuser {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: baseline;
    border: 0.5px solid black;
    margin: 1px;
    padding: 3px;
}
.timer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: baseline;
    border: 0.5px solid black;
    margin: 1px;
    padding: 3px;
}
.currentscore {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: baseline;
    border: 0.5px solid black;
    margin: 1px;
    padding: 3px;
}
.score {
    display: inline;
    padding: 2px;
    margin: 0.5px;
}
.allComments{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    align-content: stretch;
    padding: 30px;
    text-align: left;
    background: white;
    margin:5px;
    width: 75%;
}

.comments {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 30px;
    border: 0.5px solid black;
}
.comments h1{
    font-size: 20px;
}
.commentSection{
    float: left;
    flex-flow: column nowrap;
    text-align: center;
    background: #f1f1f1;
    margin-top: 10px;
    border: 0.5px solid black;
    padding: 5px;
    font-size: 18px;
}
.text {
    float: left;
    width: 25%;
    background: #ddd;
    margin-top: 30px;
}
textArea {
    margin: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
input {
    margin: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

button.table {
    position: relative;
    padding: 5px 10px;
    font-size: 15px;
    cursor:pointer;
    text-align: center;
    text-decoration: none;
    outline:none;
    color:#fff;
    background-color: rgb(76, 111, 175);
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px #999;
    margin: 1px;
}
button:hover {background-color: #4025db}

button:active {
    background-color: #7256f0;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
div.players {
    display: inline;   
    border: 1px solid black;
    padding: 4px;
}
div.annoucePlayer{
    margin:5px 4px 4px 5px;
}
div.circle {
    display: flex;
    flex-grow: 1.5;
    flex-shrink: 1.5;
    flex-basis: auto;
    border: 1px solid black;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    padding: 2px;
    position: relative;
    margin: 3px;
    cursor:pointer;
}

